<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="//Netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    @*<link href="@Url.Content("~/Content/Styles/bootstrap.min.css")" rel="stylesheet">*@
</head>
<body>
    <div>
        @RenderBody()
    </div>

    <script src="@Url.Content("~/Scripts/jquery.min.js")"></script>
    <script src="@Url.Content("~/Scripts/angular/angular.min.js")"></script>
    @*<script src="@Url.Content("~/Scripts/bootstrap.min.js")"></script>*@
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script src="@Url.Content("~/Scripts/angular/main.js")"></script>
    <script src="@Url.Content("~/Scripts/angular/Controllers.js")"></script>
    <script src="@Url.Content("~/Scripts/angular/services.js")"></script>
</body>
</html>
